{
  "entries": [
  {
    "agent": "agent-1",
      "initParameters": {
        "ccsroot": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/central-config-repo/dev",
        "port": "3990",
        "skeleton": "ivy:/com.linkedin.network.container/container-jetty/0.0.1120-RC4.6428"
      },
      "metadata": {
        "container": {
          "kind": "jetty",
          "name": "databus2-bootstrap-producer"
        },
        "product": "databus2",
        "version": "dev"
      },
      "mountPoint": "/databus2-bootstrap-producer",
      "script": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/config/JettyServerContainerScript.groovy"
  },
  {
    "agent": "agent-1",
    "initParameters": {
      "ccsroot": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/central-config-repo/dev",
      "ctx": "/databus2-bootstrap-producer-bizfollow",
      "war": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/build/databus2-bootstrap-producer-bizfollow-war/libs/databus2-bootstrap-producer-bizfollow-war-2.0.31-beta-SNAPSHOT.war"
    },
    "metadata": {
      "container": {"name": "databus2-bootstrap-producer-bizfollow"},
      "product": "databus2",
      "version": "dev"
    },
    "mountPoint": "/databus2-bootstrap-producer-bizfollow-war",
    "parent": "/databus2-bootstrap-producer",
    "script": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/config/JettyServerWarScript.groovy"
  },
  {
    "agent": "agent-1",
    "initParameters": {
      "ccsroot": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/central-config-repo/dev",
      "ctx": "/databus2-bootstrap-producer-liar",
      "war": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/build/databus2-bootstrap-producer-liar-war/libs/databus2-bootstrap-producer-liar-war-2.0.31-beta-SNAPSHOT.war"
    },
    "metadata": {
      "container": {"name": "databus2-bootstrap-producer-liar"},
      "product": "databus2",
      "version": "dev"
    },
    "mountPoint": "/databus2-bootstrap-producer-liar-war",
    "parent": "/databus2-bootstrap-producer",
    "script": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/config/JettyServerWarScript.groovy"
  },
  {
    "agent": "agent-1",
    "initParameters": {
      "ccsroot": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/central-config-repo/dev",
      "port": "3991",
      "skeleton": "ivy:/com.linkedin.network.container/container-jetty/0.0.1120-RC4.6428"
    },
    "metadata": {
      "container": {
        "kind": "jetty",
        "name": "databus2-bootstrap-server"
      },
      "product": "databus2",
      "version": "dev"
    },
    "mountPoint": "/databus2-bootstrap-server",
    "script": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/config/JettyServerContainerScript.groovy"
  },
  {
    "agent": "agent-1",
    "initParameters": {
      "ccsroot": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/central-config-repo/dev",
      "ctx": "/databus2-bootstrap-server",
      "war": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/build/databus2-bootstrap-server-war/libs/databus2-bootstrap-server-war-2.0.31-beta-SNAPSHOT.war"
    },
    "metadata": {
      "container": {"name": "databus2-bootstrap-server"},
      "product": "databus2",
      "version": "dev"
    },
    "mountPoint": "/databus2-bootstrap-server-war",
    "parent": "/databus2-bootstrap-server",
    "script": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/config/JettyServerWarScript.groovy"
  },
  {
    "agent": "agent-1",
    "initParameters": {
      "ccsroot": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/central-config-repo/dev",
      "port": "3997",
      "skeleton": "ivy:/com.linkedin.network.container/container-jetty/0.0.1120-RC4.6428"
    },
    "metadata": {
      "container": {
        "kind": "jetty",
        "name": "databus2-relay"
      },
      "product": "databus2",
      "version": "dev"
    },
    "mountPoint": "/databus2-relay",
    "script": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/config/JettyServerContainerScript.groovy"
  },
  {
    "agent": "agent-1",
    "initParameters": {
      "ccsroot": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/central-config-repo/dev",
      "ctx": "/databus2-relay-bizfollow",
      "war": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/build/databus2-bootstrap-producer-bizfollow-war/libs/databus2-bootstrap-producer-bizfollow-war-2.0.31-beta-SNAPSHOT.war"
    },
    "metadata": {
      "container": {"name": "databus2-relay-bizfollow"},
      "product": "databus2",
      "version": "dev"
    },
    "mountPoint": "/databus2-relay-bizfollow-war",
    "parent": "/databus2-relay",
    "script": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/config/JettyServerWarScript.groovy"
  },
  {
    "agent": "agent-1",
    "initParameters": {
      "ccsroot": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/central-config-repo/dev",
      "ctx": "/databus2-relay-liar",
      "war": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/build/databus2-bootstrap-producer-liar-war/libs/databus2-bootstrap-producer-liar-war-2.0.31-beta-SNAPSHOT.war"
    },
    "metadata": {
      "container": {"name": "databus2-relay-liar"},
      "product": "databus2",
      "version": "dev"
    },
    "mountPoint": "/databus2-relay-liar-war",
    "parent": "/databus2-relay",
    "script": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/config/JettyServerWarScript.groovy"
  },
  {
    "agent": "agent-1",
    "initParameters": {
      "ccsroot": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/central-config-repo/dev",
      "port": "3998",
      "skeleton": "ivy:/com.linkedin.network.container/container-jetty/0.0.1120-RC4.6428"
    },
    "metadata": {
      "container": {
        "kind": "jetty",
        "name": "databus2-test-client"
      },
      "product": "databus2",
      "version": "dev"
    },
    "mountPoint": "/databus2-test-client",
    "script": "file:///export/home/tester/hudson/data/workspace/databus2-beta-CI-integ-SANDBOX/config/JettyServerContainerScript.groovy"
  }
  ],
    "fabric": "my-dev",
    "id": "0eb39d6fa68b0108adbea78cb1b92877d09f65be",
    "metadata": {"product": {"databus2": {
      "name": "databus2",
      "version": "dev"
    }}}
}
