<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  @log4j.appenders.webapp@

  <!-- Base appender for the MySQL error log -->   
  <appender name="MySQLLogAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="logs/mysqld.err"/>
    <param name="Append" value="true"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
  </appender>

  <!-- Logger for mysql. -->
  <logger name="MySQLLog" additivity="false" >
    <level value="info"/>
    <appender-ref ref="MySQLLogAppender"/>
  </logger>

  <!-- Silence warnings from RpcTraceTokenGeneratorImpl. -->
  <logger name="com.linkedin.container.rpc.trace.RpcTraceTokenGeneratorImpl" additivity="false" >
    <level value="ERROR"/>
    <appender-ref ref="WebAppAppender"/>
  </logger>

  @log4j.loggers.spring@
  @log4j.loggers.root@

</log4j:configuration>

